<?xml version="1.0" encoding="utf-8" ?>
<configuration>
     <configSections>
      <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism"/>
    </configSections>
   <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <modules>
      <module assemblyFile="Modules/BankModule.dll" moduleType="InsuranceSystem.BankModule.BankModuleModule, InsuranceSystem.BankModule, version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="InsuranceSystem.BankModule" startupLoaded="true"/>
    </modules>
</configuration>