@model IEnumerable<InsuranceSystem.MVC.Models.Catalogs.BankModel>

@{
    ViewBag.Title = "Index";
}
@Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }
    )
@Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.GridView }
    )

<h2>Banks</h2>

@Html.Action("GridViewPartial", "Bank")













 
